/* body {
	background: url("./images/bull.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	margin: 0;
} */

/* .landing-text {
	text-align: center;
	margin-left: 500px;
} */

/* .img-size {
	max-width: 100%;
	max-height: 100%;
} */
.fig-caption {
	position: absolute;
	bottom: 2 rem;
	margin: 0 2rem;
}
